{% load static %}
<!doctype html>

<html>
<head>
  <title>Accueil</title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>
   
    <body>
    
    <ul>
      <li><a class="active" href="#accueil">Accueil</a></li>
      <li><a href="#numeros">Les numéros</a></li>
      <div class="dropdown">
        <button class="dropbtn">Les créations 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#couverture">Les couvertures</a>
          <a href="#dessin">Les dessins</a>
          <a href="#affiche">Les affiches</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Les Rubriques 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#cultre">Culture</a>
          <a href="#sport">Sport</a>
          <a href="#interview">Les interviews</a>
          <a href="#top">Les TOP</a>
          <a href="#sondage">Les sondages</a>
          <a href="#jeux">Les jeux</a>
          <a href="#autre">Autres</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Vie à l'école
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#club">Les clubs</a>
          <a href="#asso">Les Associations</a>
          <a href="#sondage">Sondages</a>
          <a href="#autre">Autres</a>
        </div>
      </div>
      <li><a href="#proposer">Proposer un article</a></li>
    </ul>
    
    <div  class="jumbotron jumbotron-fluid change" >
      <h1>Bienvenue sur le site de la Gazette du Cogniticien</h1>
      <p>
         Ce journal étudiant est celui de l'Ecole Nationale Supérieure de Cognitique (ENSC)
      </p>
    </div>

    <div id = "trait_vertical"></div>
    </body>
    https://openclassrooms.com/forum/sujet/faire-un-texte-a-cote-d-une-ligne-verticale-hr
    </html>

    

